/* Masthead */
body {
	background: rgb(231, 231, 231);
}
header {
	position: relative;
}
header h1 {
	position: absolute;
	left: 48px;
	bottom: -10px;
	font-size: 2em;
}
header div {
	width: 960px;
	height: 280px;
	overflow: hidden;
	background: url("../img/sky.JPG");
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;

}

[class*="fi-"] {
  font-size: 3em;
  
  color: #a0a0a0;
  display: block;
}
.tabs-content {
	padding: 15px;
	height: 383px;
	overflow: auto;
}
.eagle {
	background: url("../img/eagles.png") no-repeat;
	background-size: 40px;
	line-height: 40px;
}
.eagle h1 {
	padding-left: 40px;
}

}
.bg0 {
  background: url("../img/sky.JPG");
}

.bg1 {
  background: url("../img/land.JPG");
}

.bg2 {
  background: url("../img/eg.JPG");
}

/*column 1 styleing */
.tabs-content{
	background: rgba(247, 247, 247, 0.47);
}


/*column 2 styleing */
.panel.callout {
	background: rgba(95, 126, 113, 0.33)
	
	}
.reveal-modal-bg {
	background: rgba(157, 241, 225, 0.45);
}

/* Media Queries! */

@media only screen and (max-width: 64em) {

.tabs dd a {
	font-size: .9em;
	padding-right: 20px;
	padding-left: 20px;

}


